In [35]:
import openpyxl as opx
import pandas as pd

In [43]:
book = opx.load_workbook('./Files/budget.xlsx')
df = pd.read_excel('./Files/budget.xlsx')
df

,month,wage,dividends,groceries,home_mortgage,home_insurance,home_repairs,home_bills,bus_fare,fuel,...,vacation_accomodation,vacation_food,phone_bill,internet,clothes,barber,toiletry,gifts,savings,tax
0,JAN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,FEB,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,MAR,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,APR,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,MAY,9631,640,600,0,0,2400,0,2,0,...,0,0,165,0,0,0,0,600,0,0
5,JUN,1690,500,0,0,0,0,0,0,0,...,0,0,525,0,1585,50,85,51,0,0
6,JUL,1690,0,0,0,0,0,0,0,0,...,300,226,1290,0,0,0,0,0,4000,0
7,AUG,1691,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,SEP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,OCT,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,NOV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,DEC,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
month = 'AUG'
df.loc[df.month == month]

month                     AUG
wage                     1691
dividends                   0
groceries                   0
home_mortgage               0
home_insurance              0
home_repairs                0
home_bills                  0
bus_fare                    0
fuel                        0
car_repair                  0
parking                     0
hobbies                     0
books_games                 0
movies_concerts             0
health_insurance            0
medication                  0
vacation_transport          0
vacation_accomodation       0
vacation_food               0
phone_bill                  0
internet                    0
clothes                     0
barber                      0
toiletry                    0
gifts                       0
savings                     0
tax                         0
dtype: object