In [1]:
import datetime
import pandas as pd

df = pd.read_excel('./Files/budget.xlsx', sheet_name='Sheet1', index_col=0)

In [2]:
df

,wage,dividends,groceries,home_mortgage,home_insurance,home_repairs,home_bills,bus_fare,fuel,car_repair,...,vacation_food,vacation_fun,phone_bill,internet,clothes,barber,toiletry,gifts,savings,Loan-out
month,,,,,,,,,,,,,,,,,,,,,
JAN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
FEB,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MAR,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
APR,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MAY,9631,640,600,0,0,2400,0,2,0,0,...,0,0,165,0,0,0,0,600,0,0
JUN,1690,500,0,0,0,0,0,0,0,0,...,0,0,525,0,1585,50,85,51,0,0
JUL,1690,0,0,0,0,0,0,0,0,0,...,226,0,1290,0,0,0,0,0,4000,0
AUG,1691,350,705,0,0,0,230,0,0,0,...,0,0,0,0,150,50,222,100,100,0
SEP,1900,1650,30,0,0,0,0,0,0,0,...,476,600,610,0,0,50,0,50,0,1040
OCT,0,500,0,400,0,0,0,0,0,0,...,150,0,50,0,0,0,0,1100,0,800
NOV,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DEC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df.loc['AUG']

wage                     1691
dividends                 350
groceries                 705
home_mortgage               0
home_insurance              0
home_repairs                0
home_bills                230
bus_fare                    0
fuel                        0
car_repair                  0
parking                     0
hobbies                     0
books_games                 0
movies_concerts             0
health_insurance            0
medication                  0
vacation_transport          0
vacation_accomodation       0
vacation_food               0
vacation_fun                0
phone_bill                  0
internet                    0
clothes                   150
barber                     50
toiletry                  222
gifts                     100
savings                   100
Loan-out                    0
Name: AUG, dtype: int64

In [4]:
expenditure = df.loc['AUG'][2:].sum()
income = df.loc['AUG'][:2].sum()
spend = income - expenditure